[submodule "AURPKG/smiley-sans"]
	path = packages/smiley-sans
	url = ssh://aur@aur.archlinux.org/smiley-sans.git
[submodule "AURPKG/smiley-sans-bin"]
	path = packages/smiley-sans-bin
	url = ssh://aur@aur.archlinux.org/smiley-sans-bin.git
[submodule "AURPKG/wiliwili"]
	path = packages/wiliwili
	url = ssh://aur@aur.archlinux.org/wiliwili.git
[submodule "AURPKG/juicity"]
	path = packages/juicity
	url = ssh://aur@aur.archlinux.org/juicity.git
[submodule "AURPKG/rustdesk-server"]
	path = packages/rustdesk-server
	url = ssh://aur@aur.archlinux.org/rustdesk-server.git
